* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --background-color: hsl(230, 10%, 12%);
    --background-color-dark: hsl(230, 10%, 5%);

    --color-light: hsl(0, 0%, 100%);
    --color-dark: hsl(230, 10%, 5%);
    --color-grey: hsl(215, 10%, 25%);

    --color-error-700: hsl(1, 60%, 20%);
    --color-error-500: hsl(1, 60%, 50%);
    --color-error-300: hsl(1, 60%, 70%);

    --color-success-700: hsl(132, 60%, 30%);
    --color-success-500: hsl(132, 60%, 60%);
    --color-success-300: hsl(132, 60%, 80%);
}

body {
    height: 100vh;
    background-color: var(--background-color);
    overflow: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a,p,span {
    color: var(--color-light);
    font-size: 1em;
}

ul {
    list-style: none;
}

i:before {
    color: var(--color-light);
    font-size: 20px;
}

i:hover {
    transition: all 0.3s ease;
    opacity: 0.5;
}

img {
    height: 100%;
    width: 100%;
}

/********  SCROLL BAR ******/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(207,212,221,0.8);
    box-shadow: inset 0 0 6px rgba(207,212,221,0.8);
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(207,212,221,0.8);
    box-shadow: inset 0 0 6px rgba(207,212,221,0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
    display: none;
}